{% extends 'base.html' %}
{% block style %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


{% endblock style %}

{% block blogsactive %}active{% endblock blogsactive %}
{% block title %}you entries{% endblock title %}
{% block body %}
{% for blog  in  dataa%}



<div class="container my-4">
    <strong>
        <h1><a href="/diary/{{blog.slug}}" class="text-dark">
                {{blog.title}}
            </a></h1>
    </strong>
    <p class="text-primary">{{blog.time}}</p>

    <p>{{blog.body|slice:245}}...</p>

    <a href="/diary/{{blog.slug}}" class="text-dark">


        <button type="button" class="btn btn-success">view more</button>

    </a>

    <a href="/delete/{{blog.slug}}" class="text-danger">


        



        <button class="btn btn-danger" style="font-size:17px">delete <i class="fa fa-trash-o"></i></button>

    </a>
</div>
<hr>
{% endfor %}



{% endblock body %}