{% extends 'base.html' %}
{% block style %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


{% endblock style %}

{% block blogsactive %}active{% endblock blogsactive %}
{% block title %}you entries{% endblock title %}
{% block body %}
{% for blog  in  dataa%}


{% if user.is_authenticated %}



<div class="container my-4">
    <strong>
        <h1><a href="/diary/{{blog.slug}}" class="text-dark">
                {{blog.title}}
            </a></h1>
    </strong>
    <p class="text-primary">{{blog.time}}</p>

    <p>{{blog.body|slice:245}}...</p>

    <a href="/diary/{{blog.slug}}" class="text-dark">


        <button type="button" class="btn btn-success">view more</button>

    </a>

    <a href="/delete/{{blog.slug}}" class="text-danger">






        <button class="btn btn-danger" style="font-size:17px">delete <i class="fa fa-trash-o"></i></button>

    </a>
</div>
{% else %}
<div class="container-fluid mt-100 my-4 py-3">
    <div class="card-body cart">
        <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://icons-for-free.com/iconfiles/png/512/ipad+iphone+livejournal+news+online+technology+icon-1320192727830820043.png" width="180" height="180" class="img-fluid mb-4 mr-3">
            <h3><strong>please login</strong></h3>
            <h4>Add something to make me happy :)</h4> <a href="" data-toggle="modal" data-target="#login" class="btn btn-success cart-btn-transform m-3" data-abc="true">click her to Login</a>
        </div>
    </div> 
</div>

{% endif %}
<hr>
{% endfor %}


{% endblock body %}